<!DOCTYPE html>
<html>
<head>
  <title>xav.io</title>
  <%= stylesheet_link_tag    "application","http://yandex.st/highlightjs/6.1/styles/default.min.css" %>
  <%= javascript_include_tag "application","http://yandex.st/highlightjs/6.1/highlight.min.js" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div class="content">
<%= render :partial=>"layouts/profile" %>

<%= yield %>

</div>
</body>
</html>
